<!DOCTYPE html>
{% extends 'console\\backstage\base_backstage.html' %}

{% block page_content %}
<div class="panel panel-primary">
    <!--这里加标题 //-->
    <div class="panel-heading">
        <h3 class="panel-title">修改交易</h3>
    </div>
    <!--将表格放在这个<div class="panel-body">的标签中 //-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!--通过class="form-horizontal"设置form为bootstrap form样式-->
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="id" value="{{ trade.id|safe }}" >
                    <div class="form-group">
                        <label for="account_id" class="col-md-4 control-label">证券账户：</label>
                        <div class="col-md-8">
                            <select class="form-control" name="account_id" id="account_id">
                            {% for account in account_list %}
                                {% if account.account_number == trade.account.account_number %}
                                <option value="{{ account.id }}" selected>{{ account.broker.broker_name }}({{ account.account_number }})</option>
                                {% else %}
                                <option value="{{ account.id }}">{{ account.broker.broker_name }}({{ account.account_number }})</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stock_id" class="col-md-4 control-label">股票：</label>
                        <div class="col-md-8">
                            <select class="form-control" name="stock_id" id="stock_id">
                            {% for stock in stock_list %}
                                {% if stock.stock_code == trade.stock.stock_code %}
                                <option value="{{ stock.id }}" selected>{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                {% else %}
                                <option value="{{ stock.id }}">{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- 使用日期格式过滤 value="{{ trade.trade_date|date:"Y-m-d" }}"，否和无法在input控件里显示数据库中读取的日期 // -->
                    <div class="form-group">
                        <label for="trade_date" class="col-md-4 control-label">交易日期：</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control date-picker" name="trade_date" id="trade_date" value="{{ trade.trade_date|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trade_type" class="col-md-4 control-label">交易类型：</label>
                        <div class="col-md-8">
                            {% for key,v in trade_type_items %}
                            <label class="radio-inline">
                                {% if key == trade.trade_type %}
                                <input type="radio" name="trade_type" id="trade_type" value="{{ key }}" checked>{{ v }}
                                {% else %}
                                <input type="radio" name="trade_type" id="trade_type" value="{{ key }}">{{ v }}
                                {% endif %}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trade_price" class="col-md-4 control-label">交易价格：</label>
                        <div class="col-md-8">
                            <input type="number" step="0.001" class="form-control"  name="trade_price" id="trade_price" value="{{ trade.trade_price }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trade_quantity" class="col-md-4 control-label">交易数量：</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control"  name="trade_quantity" id="trade_quantity" value="{{ trade.trade_quantity|safe }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="settlement_currency" class="col-md-4 control-label">结算货币：</label>
                        <div class="col-md-8">
                            {% for key,v in settlement_currency_items %}
                            <label class="radio-inline">
                                {% if key == trade.settlement_currency %}
                                <input type="radio" name="settlement_currency" id="settlement_currency" value="{{ key }}" checked>{{ v }}
                                {% else %}
                                <input type="radio" name="settlement_currency" id="settlement_currency" value="{{ key }}">{{ v }}
                                {% endif %}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-primary" value="保存">
                        </div>
                    </div>
                </form>
                {{ error_info }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- 以下block块给样式类赋值，class="active"//-->
{% block tradecls %}
active
{% endblock %}
