<!DOCTYPE html>
{% extends 'console\\backstage\base_backstage.html' %}

{% block page_content %}
<div class="panel panel-default">
    <!--这里加标题 //-->
    <div class="panel-heading">
        <p class="panel-title">
            <i class="glyphicon glyphicon-list"></i> 市场列表（共{{ total_page }}页，{{ total_count }}条记录）
            <a href="/benben/add_market/" class="btn btn-default btn-sm pull-right" >
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp;增加记录
            </a>
        </p>
    </div>
    <!--将表格放在这个<div class="panel-body">的标签中 //-->
    <div class="panel-body" style="padding-bottom:0px;">
        <!--给增加记录按钮加bootstrap样式、fontawesome图标 //-->
        <!--
        <div class="row">
            <div class="col-md-3 pull-right" style="margin-bottom:15px ">
                <div>
                    <a href="/benben/add_market/" class="btn btn-primary pull-right">
                        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp;增加记录
                    </a>
                </div>
            </div>
        </div>
        -->
        <!--给表格增加bootstrap样式 //-->
        <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
            <thead>
                <tr>
                    <th>市场名称</th>
                    <th>简称</th>
                    <th>交易货币</th>
                    <th>货币汇率</th>
                    <th>汇率获取时间</th>
                    <th colspan="2">操作</th>
                </tr>
            </thead>
            <tbody>
                <!--#market_list即为视图函数list_market中render传入参数//-->
                {% for market in market_list %}
                    <tr>
                        <td>{{ market.market_name }}</td>
                        <td>{{ market.market_abbreviation }}</td>
                        <!-- 用get_属性_display来显示包含choice参数的字段值 // -->
                        <td>{{ market.get_transaction_currency_display }}</td>
                        <td>{{ market.exchange_rate }}</td>
                        <td>{{ market.modified_time|date:'Y-m-d H:i' }}</td>
                        <td>
                            <a href="/benben/del_market/{{ market.id|safe }}/" class="btn btn-default btn-sm">
                                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp;删除
                            </a>
                        </td>
                        <td>
                            <a href="/benben/edit_market/{{ market.id|safe }}/" class="btn btn-default btn-sm">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;修改
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">无相关记录！</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- 分页代码 -->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <!-- 用模板过滤标签，防止对HTML代码转义 -->
                {{ page_nav|safe }}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

<!-- 以下block块给样式类赋值，class="active"//-->
{% block marketcls %}
active
{% endblock %}

