<!DOCTYPE html>
{% extends 'console\\stats\base_stats.html' %}

{% block page_content %}
盈亏统计页面

<div class="h jumbotron">
    <div style="height:25px">
        <div style="display:inline;float:left;">
            <i class="glyphicon glyphicon-stats"></i>&nbsp;银河1
        </div>
        <div style="display:inline;float:right;">
            港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover list_tab">
            <thead>
                <tr>
                    <th>股票/代码</th>
                    <th>账面盈亏金额</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in profit_array %}
                <tr>
                    <td>{{ rs.0 }}（{{ rs.1 }}）</td>
                    <td style="text-align: right">{{ rs.2|floatformat:0 }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>合计</b></td>
                    <td style="text-align: right"><b>{{ profit_sum|floatformat:0 }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

总成本：{{ amount_sum|floatformat:0 }}<br>
总股数：{{ quantity_sum|floatformat:0 }}<br>
持仓成本：{{ price_avg|floatformat:3 }}<br>
当前价格：{{ price|floatformat:3 }}<br>
账面利润：{{ profit|floatformat:0 }}<br>
{% endblock %}

<!-- 以下block块给样式类赋值，class="active"//-->
{% block profitcls %}
active
{% endblock %}

