<!DOCTYPE html>
{% extends 'console\\stats\base_stats.html' %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
		<p class="panel-title">
			<i class="glyphicon glyphicon-stats"></i>&nbsp;账户统计
		</p>
    </div>
    <div class="panel-body">
        <div class="col-md-12 col-md-offset-0">
			<ul id="statisticsTab" class="nav nav-tabs">
				<li class="dropdown active">
					<a href="#" id="stockTabDrop" class="dropdown-toggle" data-toggle="dropdown">境内券商账户
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="stockTbDrop">
                        {% for i in account_array1 %}
						<li><a href="#account_{{ i }}" tabindex="-1" data-toggle="tab">{{ i }}</a></li>
                        {% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" id="industryTabDrop" class="dropdown-toggle" data-toggle="dropdown">境外券商账户
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="stockTbDrop">
                        {% for i in account_array2 %}
						<li><a href="#account_{{ i }}" tabindex="-1" data-toggle="tab">{{ i }}</a></li>
                        {% endfor %}
					</ul>
				</li>
			</ul>
			<div id="statisticsTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="account_银河1">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;银河1
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.0.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.0.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_银河2">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;银河2
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.1.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.1.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_国金1">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;国金1
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.2.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.2.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_国金2">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;国金2
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.3.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.3.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰120">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰120
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.4.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.4.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰257">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰257
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.5.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.5.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰898">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰898
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.6.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.6.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰479">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰479
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.7.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.7.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰737">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰737
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.8.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.8.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_华泰416">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;华泰416
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.9.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.9.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_平安">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;平安
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.14.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.14.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_中银">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;中银
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.10.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.10.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_香港1">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;香港1
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.11.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.11.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_香港2">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;香港2
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.12.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.12.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account_盈透">
					<div class="h jumbotron">
						<div style="height:25px">
							<div style="display:inline;float:left;">
								<i class="glyphicon glyphicon-stats"></i>&nbsp;盈透
							</div>
							<div style="display:inline;float:right;">
								港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed table-striped table-hover list_tab">
								<thead>
									<tr>
										<th>股票/代码</th>
										<th>金额（元）</th>
										<th>百分比</th>
									</tr>
								</thead>
								<tbody>
									{% for a in stock_content.13.0 %}
									<tr>
										<td>{{ a.0 }}</td>
										<td style="text-align: right">{{ a.1|floatformat:0 }}</td>
										<td style="text-align: right">{{ a.2 }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td><b>合计</b></td>
										<td style="text-align: right"><b>{{ stock_content.13.1|floatformat:0 }}</b></td>
										<td style="text-align: right"><b>100.00%</b></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}

<!-- 以下block块给样式类赋值，class="active"//-->
{% block accountcls %}
active
{% endblock %}