<!DOCTYPE html>
{% extends 'console\\query\base_query.html' %}

{% block page_content %}
<!--
{{ stock_dividend_dict }}
{% now "U" %}
-->
<div class="panel panel-default">
    <!--这里加标题 //-->
    <div class="panel-heading">
		<p class="panel-title">
			<i class="glyphicon glyphicon-stats"></i> 分红金额查询
		</p>
    </div>
    <!--将表格放在这个<div class="panel-body">的标签中 //-->
    <div class="panel-body">
		<div class="col-md-12 col-md-offset-0">
			<ul id="importTab" class="nav nav-tabs">
				<li class="active"><a href="#dividend_value" data-toggle="tab">分红金额</a></li>
			</ul>
			<div id="importTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="dividend_value">
					<div class="h jumbotron">
						<form action="" method="post" class="form-horizontal">
							{% csrf_token %}
							<div class="form-group">
								<input type="hidden" style="visibility: hidden;" name="tab_name" value="分红金额" />
                                <div class="col-md-12">
                                    <label for="stock_code" class="col-md-3 control-label">股票：</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="stock_code" id="stock_code">
                                            <option disabled selected value="">请选择股票...</option>
                                            {% for stock in dividends_stock_list %}
                                                {% if stock.stock_code == stock_code %}
                                                    <option value="{{ stock.stock_code }}" selected>{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                                {% else %}
                                                    <option value="{{ stock.stock_code }}">{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-md-3 control-label">年份：</label>
                                    <div class="col-md-6">
                                        {% for year in year_list %}
                                            {% if year.year in dividend_year_list %}
                                                <span style="display:inline-block">
                                                    <input class="year" type="checkbox" name="dividend_year_list" value="{{ year|date:'Y' }}" checked />&nbsp{{ year|date:'Y' }}&nbsp
                                                </span>
                                            {% else %}
                                                <span style="display:inline-block">
                                                    <input class="year" type="checkbox" name="dividend_year_list" value="{{ year|date:'Y' }}" />&nbsp{{ year|date:'Y' }}&nbsp
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-3">
                                        {% if is_all_year_checked == "true" %}
                                            <input type="checkbox" id="all_year" name="all_year" value="true" onclick="checkOrCancelAll_year();" checked /><span id="mySpan2">&nbsp全部</span> <br />
                                        {% else %}
                                            <input type="checkbox" id="all_year" name="all_year" value="true" onclick="checkOrCancelAll_year();" /><span id="mySpan2">&nbsp全部</span> <br />
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-md-3 control-label">账户：</label>
                                    <div class="col-md-6">
                                        {% for account in account_list %}
                                            {% if account.id in dividend_account_list %}
                                                <span style="display:inline-block">
                                                    <input class="account" type="checkbox" name="dividend_account_list" value="{{ account.id }}" checked />&nbsp{{ account.account_abbreviation }}&nbsp
                                                </span>
                                            {% else %}
                                                <span style="display:inline-block">
                                                    <input class="account" type="checkbox" name="dividend_account_list" value="{{ account.id }}" />&nbsp{{ account.account_abbreviation }}&nbsp
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-3">
                                        {% if is_all_account_checked == "true" %}
                                            <input type="checkbox" id="all_account" name="all_account" value="true" onclick="checkOrCancelAll_account();" checked /><span id="mySpan">&nbsp全部</span> <br />
                                        {% else %}
                                            <input type="checkbox" id="all_account" name="all_account" value="true" onclick="checkOrCancelAll_account();" /><span id="mySpan">&nbsp全部</span> <br />
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-md-3 control-label">货币：</label>
                                    <div class="col-md-6">
                                        {% for key,v in dividend_currency_items %}
                                        <label class="radio-inline">
                                            {% if key == dividend_currency %}
                                            <input type="radio" name="dividend_currency" id="dividend_currency" value="{{ key }}" checked>{{ v }}
                                            {% else %}
                                            <input type="radio" name="dividend_currency" id="dividend_currency" value="{{ key }}">{{ v }}
                                            {% endif %}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                </div>
                                <div class="col-md-12" style="text-align:center">
								    <input type="submit" class="btn btn-default" value="查询">
                                </div>
							</div>
						</form>
                        {{ error_info }}
						<table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
							<thead>
								<tr>
									<th>股票/代码</th>
                                    <th>账户</th>
									<th>分红日期</th>
									<th>金额({{ dividend_currency_name }})</th>
								</tr>
							</thead>
							<tbody>
								<!--#dividend_history_list即为视图函数list_dividend_history中render传入参数//-->
								{% for i in dividend_list %}
									<tr>
										<td>{{ stock_name }}({{ stock_code }})</td>
                                        <td>{{ i.account.account_abbreviation }}</td>
										<td>{{ i.dividend_date|date:'Y-m-d' }}</td>
										<td>{{ i.dividend_amount }}</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="7">无相关记录！</td>
									</tr>
								{% endfor %}
                                <tr>
                                    <td colspan="3">小计</td>
                                    <td>{{ amount_sum }}</td>
                                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% if messages %}
				<script>
					{% for msg in messages %}
						alert('{{ msg.message }}');
					{% endfor %}
				</script>
			{% endif %}
		</div>
    </div>
</div>

<script type="text/javascript">
//页面加载的时候,所有的复选框都是未选中的状态
function checkOrCancelAll_account()
{
    var all_account=document.getElementById("all_account");//1.获取checkbo的元素对象
    var checkedElt = all_account.checked;//2.获取选中状态
    //var checkedElt = all_account.value
    //alert(checkedElt)
    var allCheck = document.getElementsByClassName("account");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

    //var allCheck = document.getElementsByName("account");//方法2
    //var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
    if(checkedElt)//全选
    {

        for(var i=0;i<allCheck.length;i++)
        {
            //设置复选框的选中状态
            allCheck[i].checked=true;
        }
        //mySpan.innerHTML="取消全选";
        //all_account.value = "全不选";
    }
    else//取消全选
    {
        for(var i=0;i<allCheck.length;i++)
        {
            allCheck[i].checked=false;
        }
        //mySpan.innerHTML="全选";
        //all_account.value = "全选";
    }
}

function checkOrCancelAll_year()
{
    var all_year=document.getElementById("all_year");//1.获取checkbo的元素对象
    var checkedElt = all_year.checked;//2.获取选中状态
    var allCheck = document.getElementsByClassName("year");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

    //var allCheck = document.getElementsByName("year");//方法2
    //var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
    if(checkedElt)//全选
    {

        for(var i=0;i<allCheck.length;i++)
        {
            //设置复选框的选中状态
            allCheck[i].checked=true;
        }
        //mySpan.innerHTML="取消全选";
    }
    else//取消全选
    {
        for(var i=0;i<allCheck.length;i++)
        {
            allCheck[i].checked=false;
        }
        //mySpan.innerHTML="全选";
    }
}

function ischecked()
{
    var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
    for(var i=0;i<allCheck.length;i++)
    {
        if(allCheck[i].checked == true)
        {
            return true
        }
    }
    alert("请选择文件")
    return false
}
</script>

{% endblock %}

<!-- 以下block块给样式类赋值，class="active"//-->
{% block dividend_value_cls %}
active
{% endblock %}