<!DOCTYPE html>
{% load static %}
<!-- {% load humanize %} 用于支持浮点数千位分隔符显示 |floatformat:2|intcomma -->
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>模板样例</title>
        <link href="{% static 'favicon.ico'　%}" rel="icon"　>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/font-awesome.css' %}" rel="stylesheet">
        <style type="text/css">
            .h.jumbotron {
                padding: 20px;
                margin: 4px;
            }
            .list_tab th, .list_tab td {
                height: 32px;
                font-size: 12px;
                font-family: verdana;
                text-align: center;
                vertical-align: middle!important;
            }
        </style>
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    </head>
    <body>
        {% include 'console\\header.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="{% block tradecls %}{% endblock %}"><a href="/benben/input_trade/"><i class="glyphicon glyphicon-user"></i>&nbsp;交易录入</a></li>
                        <li class="{% block dividendcls %}{% endblock %}"><a href="/benben/input_dividend/"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;分红录入</a></li>
                        <li class="{% block subscriptioncls %}{% endblock %}"><a href="/benben/input_subscription/"><i class="glyphicon glyphicon-edit"></i>&nbsp;打新录入</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {# 这个block块写继承页面个性的内容，即不同于母板的内容 #}
                {% block page_content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>