<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">增加投资组合</h1>
    <p class="mb-4">请在这里增加投资组合</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">投资组合</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="" method="post" class="form-horizontal" role="form" onsubmit="return sumbit_sure()">
                        {% csrf_token %}
                        <div class="row form-group">
                            <label for="portfolio_name" class="col-md-4 control-label text-right">名称：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="portfolio_name" id="portfolio_name" placeholder="请录入投资组合名称">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="currency" class="col-md-4 control-label text-right">货币：</label>
                            <div class="col-md-8">
                                {% for key,v in currency_items %}
                                <label class="custom-control custom-radio custom-control-inline">
                                    {% if key == 1 %}
                                    <input type="radio" class="custom-control-input" name="currency" id="currency{{ key }}" value="{{ key }}" checked />
                                    <label class="custom-control-label" for="currency{{ key }}">{{ v }}</label>
                                    {% else %}
                                    <input type="radio" class="custom-control-input" name="currency" id="currency{{ key }}" value="{{ key }}" />
                                    <label class="custom-control-label" for="currency{{ key }}">{{ v }}</label>
                                    {% endif %}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_create_date" class="col-md-4 control-label text-right">创立日期：</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control date-picker"  name="portfolio_create_date" id="portfolio_create_date" placeholder="请录入创立日期">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_value" class="col-md-4 control-label text-right">价值：</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control"  name="portfolio_value" id="portfolio_value" placeholder="请录入投资组合价值">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_principal" class="col-md-4 control-label text-right">本金：</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control"  name="portfolio_principal" id="portfolio_principal" placeholder="请录入投资组合本金">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_PHR" class="col-md-4 control-label text-right">份数：</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control"  name="portfolio_PHR" id="portfolio_PHR" placeholder="请录入份数">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_net_value" class="col-md-4 control-label text-right">净值：</label>
                            <div class="col-md-8">
                                <input type="number" step="0.0001" class="form-control"  name="portfolio_net_value" id="portfolio_net_value" placeholder="请录入投资组合净值">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="baseline" class="col-md-4 control-label text-right">比较基准：</label>
                            <div class="col-md-8">
                                <select class="form-control" name="baseline" id="baseline">
                                    {% for baseline in baseline_list %}
                                        <option value="{{ baseline.id }}">{{ baseline.name }}({{ baseline.code }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="portfolio_script" class="col-md-4 control-label text-right">备注：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="portfolio_script" id="portfolio_script" placeholder="请录入备注">
                            </div>
                        </div>
                        <div class="row form-group" style="text-align:center">
                            <div class="col-md-offset-4 col-md-12">
                                <input type="submit" class="btn btn-primary" value="增加">
                                <input type="reset" class="btn btn-primary" value="取消">
                            </div>
                        </div>
                    </form>
                    {{ error_info }}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
function sumbit_sure() {
    var gnl=confirm("确定要提交?");
    if (gnl==true) {
        return true;
    }
    else {
        return false;
    }
}
</script>
{% endblock %}