<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">修改行业</h1>
    <p class="mb-4">请在这里修改行业</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">行业</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="" method="post" class="form-horizontal" role="form" onsubmit="return sumbit_sure()">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="id" value="{{ industry_object.id|safe }}" >
                        <div class="row form-group">
                            <label for="industry_code" class="col-md-4 control-label text-right">行业代码：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="industry_code" id="industry_code"  value="{{ industry_object.industry_code }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="industry_name" class="col-md-4 control-label text-right">行业名称：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="industry_name" id="industry_name"  value="{{ industry_object.industry_name }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="industry_abbreviation" class="col-md-4 control-label text-right">简称：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="industry_abbreviation" id="industry_abbreviation"  value="{{ industry_object.industry_abbreviation }}">
                            </div>
                        </div>
                        <div class="row form-group" style="text-align:center">
                            <div class="col-md-offset-4 col-md-12">
                                <input type="submit" class="btn btn-primary" value="保存">
                                <input type="reset" class="btn btn-primary" value="取消">
                            </div>
                        </div>
                    </form>
                    {{ error_info }}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
function sumbit_sure() {
    var gnl=confirm("确定要提交?");
    if (gnl==true) {
        return true;
    }
    else {
        return false;
    }
}
</script>

{% endblock %}