<!DOCTYPE html>
{% extends 'dashboard\base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">修改账户</h1>
    <p class="mb-4">请在这里修改证券账户</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">交易</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="" method="post" class="form-horizontal" role="form" onsubmit="return sumbit_sure()">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="id" value="{{ account_object.id|safe }}" >
                        <div class="row form-group">
                            <label for="account_number" class="col-md-4 control-label text-right">账号：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="account_number" id="account_number"  value="{{ account_object.account_number }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="broker_id" class="col-md-4 control-label text-right">券商：</label>
                            <div class="col-md-8">
                                <select class="form-control" name="broker_id" id="broker_id">
                                {% for broker in broker_list %}
                                    {% if broker.broker_name == account_object.broker.broker_name %}
                                    <option value="{{ broker.id }}" selected>{{ broker.broker_name }}({{ broker.broker_script }})</option>
                                    {% else %}
                                    <option value="{{ broker.id }}">{{ broker.broker_name }}({{ broker.broker_script }})</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="account_abbreviation" class="col-md-4 control-label text-right">简称：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="account_abbreviation" id="account_abbreviation"  value="{{ account_object.account_abbreviation }}">
                            </div>
                        </div>
                        <div class="row form-group" style="text-align:center">
                            <div class="col-md-offset-4 col-md-12">
                                <input type="submit" class="btn btn-primary" value="保存">
                                <input type="reset" class="btn btn-primary" value="取消">
                            </div>
                        </div>
                    </form>
                    {{ error_info }}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
var defaultDate = document.querySelectorAll('.date-picker');
for (var i = 0; i<defaultDate.length; i++) {
    defaultDate[i].valueAsDate = new Date();
}

function sumbit_sure() {
    var gnl=confirm("确定要提交?");
    if (gnl==true) {
        return true;
    }
    else {
        return false;
    }
}
</script>

{% endblock %}