<!DOCTYPE html>
{% extends 'dashboard\base_dashboard.html' %}
{% load static %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between mb-0">
                <h1 class="h4 mb-0 text-gray-800">股票列表</h1>
                <a href="/benben/add_stock/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fa fa-plus fa-sm text-white-50"></i> 增加
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                    <thead class="bg-gradient-secondary text-gray-100">
                        <tr>
                            <th>股票代码</th>
                            <th>股票名称</th>
                            <th>行业</th>
                            <th>市场</th>
                            <th>价格</th>
                            <th>涨幅</th>
                            <th>上次分红日期</th>
                            <th>下次分红日期</th>
                            <th>价格获取时间</th>
                            <th>分红获取时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--#trade_list即为视图函数list_trade中render传入参数//-->
                        {% for stock in stock_list %}
                            <tr>
                                <td>{{ stock.stock_code }}</td>
                                <td>{{ stock.stock_name }}</td>
                                <td>{{ stock.industry.industry_name }}</td>
                                <td>{{ stock.market.market_name }}</td>
                                <td>{{ stock.price }}</td>
                                <td>{{ stock.increase }}%</td>
                                <td>{{ stock.last_dividend_date|date:'Y-m-d' }}</td>
                                <td>{{ stock.next_dividend_date|date:'Y-m-d' }}</td>
                                <td>{{ stock.price_time|date:'Y-m-d H:i' }}</td>
                                <td>{{ stock.dividend_time|date:'Y-m-d H:i' }}</td>
                                <td>{{ stock.modified_time|date:'Y-m-d H:i' }}</td>
                                <td>
                                    <a href="/benben/del_stock/{{ stock.id|safe }}/" class="btn btn-default btn-sm">
                                        删除
                                    </a>
                                </td>
                                <td>
                                    <a href="/benben/edit_stock/{{ stock.id|safe }}/" class="btn btn-default btn-sm">
                                        修改
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">无相关记录！</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#dataTable').DataTable( {
        //先按第一列逆序排序，如果有相同，再按第二列顺序排序
        //order后面就是一个多维数组，可以自由增删
        "order": [[ 0, "asc" ]]
    } );
} );
</script>
{% endblock %}
