<!DOCTYPE html>
{% extends 'dashboard\base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between mb-0">
                <h1 class="h4 mb-0 text-gray-800">分红历史列表</h1>
                <a href="/benben/add_dividend_history/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fa fa-plus fa-sm text-white-50"></i> 增加
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                    <thead class="bg-gradient-secondary text-gray-100">
                        <tr>
                            <th>股票/代码</th>
                            <th>报告期</th>
                            <th>分红方案</th>
                            <th>公告日</th>
                            <th>股权登记日</th>
                            <th>除权除息日</th>
                            <th>派息日</th>
                            <th>修改时间</th>
                            <th>操作</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--#trade_list即为视图函数list_trade中render传入参数//-->
                        {% for dividend_history in dividend_history_list %}
                            <tr>
                                <td>{{ dividend_history.stock.stock_name }}({{ dividend_history.stock.stock_code }})</td>
                                <td>{{ dividend_history.reporting_period }}</td>
                                <td>{{ dividend_history.dividend_plan }}</td>
                                <td>{{ dividend_history.announcement_date|date:'Y-m-d' }}</td>
                                <td>{{ dividend_history.registration_date|date:'Y-m-d' }}</td>
                                <td>{{ dividend_history.ex_right_date|date:'Y-m-d' }}</td>
                                <td>{{ dividend_history.dividend_date|date:'Y-m-d' }}</td>
                                <td>{{ dividend_history.modified_time|date:'Y-m-d H:i' }}</td>
                                <td>
                                    <a href="/benben/del_dividend_history/{{ dividend_history.id|safe }}/" class="btn btn-default btn-sm">
                                        删除
                                    </a>
                                </td>
                                <td>
                                    <a href="/benben/edit_dividend_history/{{ dividend_history.id|safe }}/" class="btn btn-default btn-sm">
                                        修改
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">无相关记录！</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#dataTable').DataTable( {
        //先按第一列逆序排序，如果有相同，再按第二列顺序排序
        //order后面就是一个多维数组，可以自由增删
        "order": [[ 7, "desc" ]]
    } );
} );
</script>
{% endblock %}
