<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}
{% load myfilters%}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">仓位统计</h6>
        </div>
        <div class="card-body">
            <ul id="statisticsTab" class="nav nav-tabs">
                {% for item in positions %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}"
                       href="#{{ item.code }}" data-toggle="tab">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <div id="statisticsTabContent" class="tab-content">
                {% for item in positions %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ item.code }}">
                    <p></p>
                    <div style="height:25px">
                        <div style="display:inline;float:left;">
                            <i class="glyphicon glyphicon-stats"></i>
                            &nbsp;证券账户：{{ item.data.account_num }}个，持有股票：{{ item.data.stock_num }}只
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    {% for abbr in item.data.abbreviation_array %}
                                    <th>{{ abbr }}</th>
                                    {% endfor %}
                                    <th>小计</th>
                                    <th class="d-none">市值（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for content in item.data.position_content %}
                                <tr>
                                    <td>{{ content|first }}</td>
                                    {% for val in content|slice:"1:-1" %}
                                    <td style="text-align: right">{{ val|floatformat:0 }}</td>
                                    {% endfor %}
                                    <td class="d-none">{{ content|last }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}