<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">仓位统计</h6>
        </div>
        <div class="card-body">
            <ul id="statisticsTab" class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#CNY" data-toggle="tab">人民币</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#HKD" data-toggle="tab">港元</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#USD" data-toggle="tab">美元</a>
                </li>
            </ul>
            <div id="statisticsTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="CNY">
                    <p></p>
                    <div style="height:25px">
                        <div style="display:inline;float:left;">
                            <i class="glyphicon glyphicon-stats"></i>&nbsp;证券账户：{{ account_num_CNY }}个，持有股票：{{ stock_num_CNY }}只
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    {% for abbreviation in abbreviation_array_CNY %}
                                    <th>{{ abbreviation }}</th>
                                    {% endfor %}
                                    <th>小计</th>
                                    <th>市值（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for content in position_content_CNY %}
                                <tr>
                                    <td>{{ content.0 }}</td>
                                    {% for i in cols_CNY %}
                                    <!-- #调用views.py中注册的get_index函数定位模板中的列表，通过"list|get_index:i|get_index:j"来访问list[i][j]的值 -->
                                    <td style="text-align: right">{{ content|get_index:i|floatformat:0 }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="HKD">
                    <p></p>
                    <div style="height:25px">
                        <div style="display:inline;float:left;">
                            <i class="glyphicon glyphicon-stats"></i>&nbsp;证券账户：{{ account_num_HKD }}个，持有股票：{{ stock_num_HKD }}支
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    {% for abbreviation in abbreviation_array_HKD %}
                                    <th>{{ abbreviation }}</th>
                                    {% endfor %}
                                    <th>小计</th>
                                    <th>市值（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for content in position_content_HKD %}
                                <tr>
                                    <td>{{ content.0 }}</td>
                                    {% for i in cols_HKD %}
                                    <!-- #调用views.py中注册的get_index函数定位模板中的列表，通过"list|get_index:i|get_index:j"来访问list[i][j]的值 -->
                                    <td style="text-align: right">{{ content|get_index:i|floatformat:0 }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="USD">
                    <p></p>
                    <div style="height:25px">
                        <div style="display:inline;float:left;">
                            <i class="glyphicon glyphicon-stats"></i>&nbsp;证券账户：{{ account_num_USD }}个，持有股票：{{ stock_num_USD }}支
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    {% for abbreviation in abbreviation_array_USD %}
                                    <th>{{ abbreviation }}</th>
                                    {% endfor %}
                                    <th>小计</th>
                                    <th>市值（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for content in position_content_USD %}
                                <tr>
                                    <td>{{ content.0 }}</td>
                                    {% for i in cols_USD %}
                                    <!-- #调用views.py中注册的get_index函数定位模板中的列表，通过"list|get_index:i|get_index:j"来访问list[i][j]的值 -->
                                    <td style="text-align: right">{{ content|get_index:i|floatformat:0 }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}