<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">分红金额查询</h6>
        </div>
        <div class="card-body">
            <div class="h jumbotron bg-gray-100">
                <form action="" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="row align-items-center h-100">
                        <div class="col-md-11">
                            <div class="row form-group">
                                <div class="col-md-1 text-right">
                                    <label for="stock_code" class="control-label">股票：</label>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control control-inline" name="stock_code" id="stock_code">
                                        <option disabled selected value="">请选择股票...</option>
                                        {% for stock in dividends_stock_list %}
                                            {% if stock.stock_code == stock_code %}
                                                <option value="{{ stock.stock_code }}" selected>{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                            {% else %}
                                                <option value="{{ stock.stock_code }}">{{ stock.stock_name }}({{ stock.stock_code }})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1 text-right">
                                    <label class="control-label">年份：</label>
                                </div>
                                <div class="col-md-10">
                                    {% for year in year_list %}
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            {% if year.year in dividend_year_list %}
                                                <input class="year custom-control-input" type="checkbox" name="dividend_year_list" id="dividend_year_list{{ year|date:'Y' }}" value="{{ year|date:'Y' }}" checked />
                                                <label class="custom-control-label" for="dividend_year_list{{ year|date:'Y' }}">{{ year|date:'Y' }}</label>
                                            {% else %}
                                                <input class="year custom-control-input" type="checkbox" name="dividend_year_list" id="dividend_year_list{{ year|date:'Y' }}" value="{{ year|date:'Y' }}" />
                                                <label class="custom-control-label" for="dividend_year_list{{ year|date:'Y' }}">{{ year|date:'Y' }}</label>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-1">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        {% if is_all_year_checked == "true" %}
                                            <input class="year custom-control-input" type="checkbox" id="all_year" name="all_year" value="true" onclick="checkOrCancelAll_year();" checked />
                                            <label class="custom-control-label" for="all_year"><span id="mySpan2">全部</span></label>
                                        {% else %}
                                            <input class="year custom-control-input" type="checkbox" id="all_year" name="all_year" value="true" onclick="checkOrCancelAll_year();" />
                                            <label class="custom-control-label" for="all_year"><span id="mySpan2">全部</span></label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1 text-right">
                                    <label class="control-label">账户：</label>
                                </div>
                                <div class="col-md-10">
                                    {% for account in account_list %}
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            {% if account.id in dividend_account_list %}
                                                <input class="account custom-control-input" type="checkbox" name="dividend_account_list" id="dividend_account_list{{ account.id }}" value="{{ account.id }}" checked />
                                                <label class="custom-control-label" for="dividend_account_list{{ account.id }}">{{ account.account_abbreviation }}</label>
                                            {% else %}
                                                <input class="account custom-control-input" type="checkbox" name="dividend_account_list" id="dividend_account_list{{ account.id }}" value="{{ account.id }}" />
                                                <label class="custom-control-label" for="dividend_account_list{{ account.id }}">{{ account.account_abbreviation }}</label>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-1">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        {% if is_all_account_checked == "true" %}
                                            <input class="account custom-control-input" type="checkbox" id="all_account" name="all_account" value="true" onclick="checkOrCancelAll_account();" checked />
                                            <label class="custom-control-label" for="all_account"><span id="mySpan">全部</span></label>
                                        {% else %}
                                            <input class="account custom-control-input" type="checkbox" id="all_account" name="all_account" value="true" onclick="checkOrCancelAll_account();" />
                                            <label class="custom-control-label" for="all_account"><span id="mySpan">全部</span></label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1 text-right">
                                    <label class="control-label">货币：</label>
                                </div>
                                <div class="col-md-10">
                                    {% for key,v in dividend_currency_items %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        {% if key == dividend_currency %}
                                            <input type="radio" class="custom-control-input" name="dividend_currency" id="dividend_currency{{ key }}" value="{{ key }}" checked />
                                            <label class="custom-control-label" for="dividend_currency{{ key }}">{{ v }}</label>
                                        {% else %}
                                            <input type="radio" class="custom-control-input" name="dividend_currency" id="dividend_currency{{ key }}" value="{{ key }}" />
                                            <label class="custom-control-label" for="dividend_currency{{ key }}">{{ v }}</label>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group" style="text-align:center">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="查询">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="sidebar-divider">
            {{ error_info }}
            <div class="h jumbotron bg-gray-100">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped table-hover list_tab">
                        <thead class="thead bg-gradient-secondary text-gray-100">
                            <tr>
                                <th>股票/代码</th>
                                <th>账户</th>
                                <th>分红日期</th>
                                <th>金额({{ dividend_currency_name }})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--#dividend_history_list即为视图函数list_dividend_history中render传入参数//-->
                            {% for i in dividend_list %}
                                <tr>
                                    <td>{{ stock_name }}({{ stock_code }})</td>
                                    <td>{{ i.account.account_abbreviation }}</td>
                                    <td>{{ i.dividend_date|date:'Y-m-d' }}</td>
                                    <td>{{ i.dividend_amount }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">无相关记录！</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3">小计</td>
                                <td>{{ amount_sum }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//页面加载的时候,所有的复选框都是未选中的状态
function checkOrCancelAll_account()
{
    var all_account=document.getElementById("all_account");//1.获取checkbox的元素对象
    var checkedElt = all_account.checked;//2.获取选中状态
    //var checkedElt = all_account.value
    //alert(checkedElt)
    var allCheck = document.getElementsByClassName("account");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

    //var allCheck = document.getElementsByName("account");//方法2
    //var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
    if(checkedElt)//全选
    {

        for(var i=0;i<allCheck.length;i++)
        {
            //设置复选框的选中状态
            allCheck[i].checked=true;
        }
        //mySpan.innerHTML="取消全选";
        //all_account.value = "全不选";
    }
    else//取消全选
    {
        for(var i=0;i<allCheck.length;i++)
        {
            allCheck[i].checked=false;
        }
        //mySpan.innerHTML="全选";
        //all_account.value = "全选";
    }
}

function checkOrCancelAll_year()
{
    var all_year=document.getElementById("all_year");//1.获取checkbox的元素对象
    var checkedElt = all_year.checked;//2.获取选中状态
    var allCheck = document.getElementsByClassName("year");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

    //var allCheck = document.getElementsByName("year");//方法2
    //var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
    if(checkedElt)//全选
    {

        for(var i=0;i<allCheck.length;i++)
        {
            //设置复选框的选中状态
            allCheck[i].checked=true;
        }
        //mySpan.innerHTML="取消全选";
    }
    else//取消全选
    {
        for(var i=0;i<allCheck.length;i++)
        {
            allCheck[i].checked=false;
        }
        //mySpan.innerHTML="全选";
    }
}

function ischecked()
{
    var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
    for(var i=0;i<allCheck.length;i++)
    {
        if(allCheck[i].checked == true)
        {
            return true
        }
    }
    alert("请选择文件")
    return false
}
</script>

{% endblock %}
