<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">分红日期查询</h6>
        </div>
        <div class="card-body">
            <ul id="statisticsTab" class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#dividend_date" data-toggle="tab">分红日期</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#position_dividend_date" data-toggle="tab">持仓股票分红日期</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#current_year_dividend" data-toggle="tab">当年已分红股票</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#current_year_no_dividend" data-toggle="tab">当年未分红股票</a>
                </li>
            </ul>
            <div id="statisticsTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="dividend_date">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    <th>上次分红日期</th>
                                    <th>下次分红日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--#account_list即为视图函数list_account中render传入参数//-->
                                {% for stock in stock_list %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ stock.stock_name }}({{ stock.stock_code }})</td>
                                        <td style="vertical-align: middle;">{{ stock.last_dividend_date|date:'Y-m-d' }}</td>
                                        <td style="vertical-align: middle;">{{ stock.next_dividend_date|date:'Y-m-d' }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">无相关记录！</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="position_dividend_date">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    <th>上次分红日期</th>
                                    <th>下次分红日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--#account_list即为视图函数list_account中render传入参数//-->
                                {% for i in position_stock_list %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ i.stock_name }}({{ i.stock_code }})</td>
                                        <td style="vertical-align: middle;">{{ i.last_dividend_date|date:'Y-m-d' }}</td>
                                        <td style="vertical-align: middle;">{{ i.next_dividend_date|date:'Y-m-d' }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">无相关记录！</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="current_year_dividend">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    <th>上次分红日期</th>
                                    <th>下次分红日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--#account_list即为视图函数list_account中render传入参数//-->
                                {% for i in current_year_dividend_list %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ i.stock_name }}({{ i.stock_code }})</td>
                                        <td style="vertical-align: middle;">{{ i.last_dividend_date|date:'Y-m-d' }}</td>
                                        <td style="vertical-align: middle;">{{ i.next_dividend_date|date:'Y-m-d' }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">无相关记录！</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="current_year_no_dividend">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                            <thead class="thead bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>股票/代码</th>
                                    <th>上次分红日期</th>
                                    <th>下次分红日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--#account_list即为视图函数list_account中render传入参数//-->
                                {% for i in current_year_no_dividend_list %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ i.stock_name }}({{ i.stock_code }})</td>
                                        <td style="vertical-align: middle;">{{ i.last_dividend_date|date:'Y-m-d' }}</td>
                                        <td style="vertical-align: middle;">{{ i.next_dividend_date|date:'Y-m-d' }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">无相关记录！</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}