<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

<!-- Begin Page Content -->
{% block page_content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 font-weight-bold text-gray-700" style="text-align:center">总览</h1>
        <div style="text-align:center">
            港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}&nbsp;
        </div>
        <div style="text-align:center">
            <form action="" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-sync-alt"></i>&nbsp&nbsp{{ overview.modified_time }}</button>
            </form>
        </div>
    </div>

    <!-- Content Card Row -->
    <div class="row">
        <!-- 总市值 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                总市值</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">￥{{ overview.value_sum|floatformat:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-yen-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓数量 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                持股数量</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ overview.holding_stock_number }}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-secondary" role="progressbar"
                                            style="width: {{ overview.holding_stock_number }}%" aria-valuenow="{{ overview.holding_stock_number }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list-numeric fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 分红收益 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                分红收益</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.dividend_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 当年分红 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                当年分红（{{ overview.current_dividend_percent|floatformat:2 }}%）</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.current_dividend_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
{#                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>#}
                            <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 打新收益 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                打新收益</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.subscription_sum|floatformat:0 }}({{ overview.subscription_stock_num|floatformat:0 }}/{{ overview.subscription_band_num|floatformat:0 }})
                            </div>
                        </div>
                        <div class="col-auto">
{#                            <i class="fas fa-money-check fa-2x text-gray-300"></i>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 当年打新 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                当年打新</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.current_subscription_sum|floatformat:0 }}({{ overview.current_subscription_stock_num|floatformat:0 }}/{{ overview.current_subscription_band_num|floatformat:0 }})
                            </div>
                        </div>
                        <div class="col-auto">
{#                            <i class="fas fa-money-check-alt fa-2x text-gray-300"></i>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Chart Row -->

    <div class="row">

        <!-- 持仓股票一览 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓股票一览</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>股票/代码</th>
                                        <th>价格（元）</th>
                                        <th>涨跌幅</th>
                                        <!--
                                        <th>持仓数量（股）</th>
                                        <th>金额（{{ currency_CNY }}）</th>
                                        <th>百分比</th>
                                        -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.holding_stock_array %}
                                        <tr>
                                            <td>{{ i.0|stringformat:"s" }}</td>
                                            <td style="text-align: right">{{ i.1|floatformat:3 }}</td>
                                            <td style="text-align: right; color:{{ i.3 }}">{{ i.2 }}</td>
                                            <!--
                                            <td style="text-align: right">{{ i.4|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.5|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.6 }}</td>
                                            -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓前五占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓前五占比（{{ overview.top5_percent|floatformat:2 }}%）</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;">
                        {% for i in overview.top5_array %}
                            <h4 class="small font-weight-bold">{{ i.0 }}
                                <span>{{ i.1|floatformat:0 }}</span>
                                <span class="float-right">{{ i.2|slice:":-1" }}%</span>
                            </h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-{{ i.3 }}" role="progressbar" style="width: {{ i.2|slice:":-1" }}%"
                                    aria-valuenow="{{ i.2|slice:":-1" }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓币种占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓市场占比</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!--
                    <div style="height:320px; width:100%; display:block; ">
                        <div class="chart-pie pt-4">
                            <canvas id="pie_market"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> 人民币市值
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> 港元市值
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> 美元市值
                            </span>
                        </div>
                    </div>
                    -->
                    <div id="pie_area_market" style="width:100%; height:320px; display:block;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- 持仓币种占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓市场占比</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="line_area_net_value" style="width:100%; height:320px; display:block;"></div>
                </div>
            </div>
        </div>

        <!-- 持仓股票一览 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓股票一览</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>股票/代码</th>
                                        <th>价格（元）</th>
                                        <th>涨跌幅</th>
                                        <!--
                                        <th>持仓数量（股）</th>
                                        <th>金额（{{ currency_CNY }}）</th>
                                        <th>百分比</th>
                                        -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.holding_stock_array %}
                                        <tr>
                                            <td>{{ i.0|stringformat:"s" }}</td>
                                            <td style="text-align: right">{{ i.1|floatformat:3 }}</td>
                                            <td style="text-align: right; color:{{ i.3 }}">{{ i.2 }}</td>
                                            <!--
                                            <td style="text-align: right">{{ i.4|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.5|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.6 }}</td>
                                            -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓前五占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓前五占比（{{ overview.top5_percent|floatformat:2 }}%）</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;">
                        {% for i in overview.top5_array %}
                            <h4 class="small font-weight-bold">{{ i.0 }}
                                <span>{{ i.1|floatformat:0 }}</span>
                                <span class="float-right">{{ i.2|slice:":-1" }}%</span>
                            </h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-{{ i.3 }}" role="progressbar" style="width: {{ i.2|slice:":-1" }}%"
                                    aria-valuenow="{{ i.2|slice:":-1" }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- 近期交易 -->
        <div class="col-xl-5 col-lg-5 mb-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期交易</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>日期</th>
                                        <th>股票/代码</th>
                                        <th>类型</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>金额</th>
                                        <th>结算货币</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.trade_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                            <td>{{ i.4 }}</td>
                                            <!-- 模板变量的乘法需要使用widthratio // -->
                                            <td>{{ i.5|floatformat:0 }}</td>
                                            <td>{{ i.6 }}</td>
                                            <td>{{ i.7 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 近期分红 -->
        <div class="col-xl-3 col-lg-3 mb-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期分红</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>分红日期</th>
                                        <th>股票/代码</th>
                                        <th>分红金额</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.dividend_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2|floatformat:0 }}</td>
                                            <td>{{ i.3 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 近期打新 -->
        <div class="col-xl-4 col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期打新</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>申购日期</th>
                                        <th>申购名称</th>
                                        <th>申购类型</th>
                                        <th>申购数量</th>
                                        <th>收益</th>
                                        <th>收益率</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.subscription_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                            <td>{{ i.4|floatformat:0 }}</td>
                                            <td>{{ i.5|floatformat:2 }}%</td>
                                            <td>{{ i.6 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    //market_name_array = JSON.parse('{{ overview.market_name_array|safe }}');
    market_name_array = {{ overview.market_name_array|safe }};
    market_value_array = {{ overview.market_value_array|safe }};
    pie_container = document.getElementById('pie_area_market');
	pie = echarts.init(pie_container, 'white', {renderer: 'canvas'});
	pie_data = get_pie_data(market_name_array, market_value_array);
    line_container = document.getElementById('line_area_net_value');
    line = echarts.init(line_container, 'white', {renderer: 'canvas'});
    line_data = ''
    window.onload = function() {
        draw_pie(pie, pie_container, pie_data);
        draw_line(line, line_container, line_data);
        //Chart_Pie("pie_market", name_array, value_array);
    };

	function draw_pie(chart_pie, container, pie_data) {
        //resize_chart(chart_pie, container);
        var option = {
                    //backgroundColor: "#2c343c",
                    // 标题的一些配置参数
                    title: {
                        text: "",
                        left: "center",
                        top: 10,
                        /*
                        textStyle: {
                            color: "pink"
                        }
                        */
                    },
                    //鼠标点击出现的文字
                    tooltip: {
                        trigger: "item",
                        //formatter: "{a} <br/>{b} : {c} ({d}%)",
                        formatter: "{b} : {c} ({d}%)"
                    },
                    //视觉映射器
                    /*
                    visualMap: {
                        show: false,
                        min: 20,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 1]
                        }
                    },
                    */
                    legend: {
                        right: "5%",
                        top: "10%",
                        orient: "vertical",    // 图例列表水平布局
                        show: true
                        /*
                        show: true,              // 显示图例
                        left: "75%",             // 图例组件离容器左侧的距离
                        top: 10,                 // 图例组件离容器上侧的距离
                        right: "15%",            // 图例组件离容器右侧的距离
                        bottom: 30,              // 图例组件离容器下侧的距离
                        width: "50%",            // 图例组件的宽度
                        height: 10,              // 图例组件的高度
                        itemGap: 15,             // 图例每项之间的间隔
                        itemWidth: 10,           // 图例标记的图形宽度
                        itemHeight: 15,          // 图例标记的图形高度
                        textStyle: {             // 图例文本样式
                          color: "rgba(239, 15, 15, 1)",
                          fontStyle: "italic",
                          fontWeight: "bold",
                          fontFamily: "serif",
                          fontSize: 15
                        },
                        icon: "circle"     // 图例项的 icon
                        */
                    },
                    //color: ['primary', 'secondary', 'success', 'info', 'warning', 'danger'],
                    color: ['#4e73df', '#858796', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b'],
                    //表格数据
                    series: [{
                        name: "市值",
                        type: "pie",
                        //radius: "55%", //饼图弧度大小
                        radius: ["60%", "85%"],
                        //radius: [0, 120],
                        center: ["40%", "50%"], //饼图位置
                        data: pie_data,
                            /*
                            [
                                { value: 335, name: "直接访问" },
                                { value: 310, name: "邮件营销" },
                                { value: 274, name: "联盟广告" },
                                { value: 235, name: "视频广告" },
                                { value: 400, name: "搜索引擎" }
                            ].sort(function(a, b) {
                                return a.value - b.value;
                            }),
                            */
                        //roseType: "radius",
                        //roseType: "area",
                        // 标注字的的颜色

                        label: {
                            normal: {
                                show: false,
                                textStyle: {
                                    color: "rgba(255, 255, 255, 0.3)"
                                }
                            }
                        },

                        // 指示线的颜色

                        labelLine: {
                            normal: {
                                show: false,
                                lineStyle: {
                                    color: "rgba(255, 255, 255, 0.3)"
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            }
                        },
                        /*
                        itemStyle: {
                            normal: {
                                color: "#c23531",
                                shadowBlur: 200,
                                shadowColor: "rgba(0, 0, 0, 0.5)"
                            }
                        },
                        */
                        animationType: "scale",
                        animationEasing: "elasticOut",
                        animationDelay: function(idx) {
                            return Math.random() * 200;
                        }
                    }]
                };
		chart_pie.setOption(option);
        //window.onresize = function () { resize_chart(chart_pie, container); };
	}

	function get_pie_data(name_array, value_array) {
		var pie_data = [];
		for(i = 0; i < name_array.length; i++){
			pie_data.push(
				{
				   value: value_array[i],
				   name: name_array[i]
				}
			);
		}
		return pie_data;
	}

    function draw_line(chart_line, container, line_data) {
        var option = {
            title: {
              text: '',
              subtext: '',
              x: 'center'
            },

            legend: {
              orient: 'horizontal',
              x: 'left',
              y: 'top',
              data: ['猜想','预期','实际']
            },
            grid: {
                top: '20%',
                left: '3%',
                right: '10%',
                bottom: '5%',
                containLabel: true
            },
            xAxis: {
              name: '月份',
              type: 'category',
              data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月',]
            },
            yAxis: {
              name: '人次',
              type: 'value',
              min:0, // 配置 Y 轴刻度最小值
              max:4000,  // 配置 Y 轴刻度最大值
              splitNumber:7,  // 配置 Y 轴数值间隔
            },

            series: [ // 多组折线图数据
              {
                name: '猜想',
                data: [454,226,891,978,901,581,400,543,272,955,1294,1581],
                type: 'line'
              },

              {
                name: '预期',
                data: [2455,2534,2360,2301,2861,2181,1944,2197,1745,1810,2283,2298],
                type: 'line',
              },

              {
                name: '实际',
                data: [1107,1352,1740,1968,1647,1570,1343,1757,2547,2762,3170,3665],
                type: 'line'
              }
            ],
            color: ['#3366CC', '#FFCC99','#99CC33']

        };
        chart_line.setOption(option);
    }

</script>


{% endblock %}
<!-- End of Page Content -->
