<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}

<!-- Begin Page Content -->
{% block page_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 font-weight-bold text-gray-700" style="text-align:center">总览</h1>
        <div style="text-align:center">
            港元汇率：{{ overview.rate_HKD|floatformat:4 }}，美元汇率：{{ overview.rate_USD|floatformat:4 }}&nbsp;
        </div>
        <div style="text-align:center">
            <form action="" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-rotate-right fa-fw text-white-50"></i>&nbsp&nbsp{{ overview.modified_time }}</button>
            </form>
        </div>
    </div>

    <!-- Content Card Row -->
    <div class="row">
        <!-- 总市值 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                总市值</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">￥{{ overview.value_sum|floatformat:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 分红收益 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                分红收益</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.dividend_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 当年分红 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                当年分红（{{ overview.current_dividend_percent|floatformat:2 }}%）</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.current_dividend_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 打新收益 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                打新收益</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.subscription_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 当年打新 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                当年打新</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ￥{{ overview.current_subscription_sum|floatformat:0 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓数量 -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                持股数量</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ overview.holding_stock_number }}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-secondary" role="progressbar"
                                            style="width: {{ overview.holding_stock_number }}%" aria-valuenow="{{ overview.holding_stock_number }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Chart Row -->

    <div class="row">

        <!-- 持仓股票一览 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓股票一览</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>股票/代码</th>
                                        <th>价格（元）</th>
                                        <th>涨跌幅</th>
                                        <!--
                                        <th>持仓数量（股）</th>
                                        <th>金额（{{ currency_CNY }}）</th>
                                        <th>百分比</th>
                                        -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.holding_stock_array %}
                                        <tr>
                                            <td>{{ i.0|stringformat:"s" }}</td>
                                            <td style="text-align: right">{{ i.1|floatformat:3 }}</td>
                                            <td style="text-align: right; color:{{ i.3 }}">{{ i.2 }}</td>
                                            <!--
                                            <td style="text-align: right">{{ i.4|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.5|floatformat:0 }}</td>
                                            <td style="text-align: right">{{ i.6 }}</td>
                                            -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓前五占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓前五占比（{{ overview.top5_percent|floatformat:2 }}%）</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; overflow-y:auto;">
                        {% for i in overview.top5_array %}
                            <h4 class="small font-weight-bold">{{ i.0 }}
                                <span>{{ i.1|floatformat:0 }}</span>
                                <span class="float-right">{{ i.2|slice:":-1" }}%</span>
                            </h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-{{ i.3 }}" role="progressbar" style="width: {{ i.2|slice:":-1" }}%"
                                    aria-valuenow="{{ i.2|slice:":-1" }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- 持仓币种占比 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">持仓币种占比</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="height:320px; width:100%; display:block; ">
                        <div class="chart-pie pt-4">
                            <canvas id="pie_currency"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> 人民币市值
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> 港元市值
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> 美元市值
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- 近期交易 -->
        <div class="col-xl-5 col-lg-5 mb-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期交易</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>日期</th>
                                        <th>股票/代码</th>
                                        <th>类型</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>金额</th>
                                        <th>结算货币</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.trade_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                            <td>{{ i.4 }}</td>
                                            <!-- 模板变量的乘法需要使用widthratio // -->
                                            <td>{{ i.5|floatformat:0 }}</td>
                                            <td>{{ i.6 }}</td>
                                            <td>{{ i.7 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 近期分红 -->
        <div class="col-xl-3 col-lg-3 mb-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期分红</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>分红日期</th>
                                        <th>股票/代码</th>
                                        <th>分红金额</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.dividend_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2|floatformat:0 }}</td>
                                            <td>{{ i.3 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 近期打新 -->
        <div class="col-xl-4 col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">近期打新</h6>
                </div>
                <div class="card-body">
                    <div style="height:385px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover list_tab">
                                <thead class="bg-gradient-secondary text-gray-100">
                                    <tr>
                                        <th>申购日期</th>
                                        <th>申购名称</th>
                                        <th>申购类型</th>
                                        <th>申购数量</th>
                                        <th>收益</th>
                                        <th>收益率</th>
                                        <th>证券账户</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in overview.subscription_array %}
                                        <tr>
                                            <td>{{ i.0 }}</td>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                            <td>{{ i.4|floatformat:0 }}</td>
                                            <td>{{ i.5|floatformat:2 }}%</td>
                                            <td>{{ i.6 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var currency_name_array = {{ overview.currency_name_array|safe }};
    var currency_value_array = {{ overview.currency_value_array|safe }};
    window.onload = function() {
        Chart_Pie("pie_currency", currency_name_array, currency_value_array);
    };

</script>


{% endblock %}
<!-- End of Page Content -->
