<!DOCTYPE html>
{% load static %}
<link href="{% static 'stock/images/favicon.ico' %}" rel="shortcut icon">

<!-- Custom fonts for this template -->
<link href="{% static 'fontawesome-free/css/fontawesome.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

<link href="{% static 'stock/css/dashboard.css' %}" rel="stylesheet">
{#<link href="{% static 'stock/css/calendar.css' %}" rel="stylesheet">#}

<!-- jquery-3.4.1.min.js需要放在head里，否则 $(document).ready(function())不生效 -->
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'echarts-5.6.0.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script> -->
<!-- <script src="https://assets.pyecharts.org/assets/echarts.min.js"></script> -->

