<!DOCTYPE html>
{% load static %}

    <!-- Custom fonts for this template -->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <link href="{% static 'fontawesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- jquery-3.4.1.min.js需要放在head里，否则 $(document).ready(function()$(document).ready(function()不生效 -->
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <!--<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>-->


<!--    <link href="{% static 'bootstrap-4.6.0/css/bootstrap.min.css' %}" rel="stylesheet">-->

    <script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>
