<!DOCTYPE html>
{% load static %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <!--<script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>-->
    <script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables/dataTables.cn.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>
<!--    <script src="{% static 'dashboard/js/demo/chart-area-demo.js' %}"></script>-->
<!--    <script src="{% static 'dashboard/js/demo/chart-pie-demo.js' %}"></script>-->
<!--    <script src="{% static 'dashboard/js/demo/chart-bar-demo.js' %}"></script>-->

<!--    <script src="{% static 'bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>-->