<!DOCTYPE html>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/benben/index/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">市值管理系统</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        日常操作
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/benben/overview/">
{#            <i class="fas fa-fw fa-tachometer-alt"></i>#}
            <i class="fa-solid fa-house-chimney fa-fw"></i>
            <span>总览</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/benben/view_funds/">
            <i class="fa-solid fa-sack-dollar fa-fw"></i>
            <span>资产</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/benben/view_market_value/">
            <i class="fas fa-chart-line fa-fw"></i>
            <span>市值</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/benben/view_dividend/">
            <i class="fa-solid fa-coins fa-fw" fa-fw></i>
            <span>分红</span></a>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link" href="/benben/trade_overview/">
            <i class="fa-solid fa-scale-balanced fa-fw"></i>
            <span>交易</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/benben/dividend_overview/">
            <i class="fa-solid fa-coins fa-fw"></i>
            <span>分红</span></a>
    </li>
    -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-keyboard fa-fw"></i>
            <span>录入</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">项目:</h6>
                <a class="collapse-item" href="/benben/input_trade/">交易</a>
                <a class="collapse-item" href="/benben/input_dividend/">分红</a>
                <a class="collapse-item" href="/benben/input_subscription/">打新</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
{#            <i class="fas fa-chart-bar"></i>#}
            <i class="fa-solid fa-chart-simple fa-fw"></i>
            <span>统计</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">统计:</h6>
                <a class="collapse-item" href="/benben/stats_position/">仓位</a>
                <a class="collapse-item" href="/benben/stats_value/">市值</a>
                <a class="collapse-item" href="/benben/stats_account/">账户</a>
                <a class="collapse-item" href="/benben/stats_dividend/">分红</a>
                <a class="collapse-item" href="/benben/stats_subscription/">打新</a>
                <a class="collapse-item" href="/benben/stats_profit/">盈亏</a>
                <h6 class="collapse-header">查询:</h6>
                <a class="collapse-item" href="/benben/query_trade/">交易</a>
                <a class="collapse-item" href="/benben/query_dividend_value/">分红金额</a>
                <a class="collapse-item" href="/benben/query_dividend_date/">分红日期</a>
                <a class="collapse-item" href="/benben/query_dividend_history/">分红历史</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        系统管理
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-cogs"></i>
            <span>后台</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">数据列表:</h6>
                <a class="collapse-item" href="/benben/list_currency/">货币</a>
                <a class="collapse-item" href="/benben/list_broker/">券商</a>
                <a class="collapse-item" href="/benben/list_market/">市场</a>
                <a class="collapse-item" href="/benben/list_account/">账户</a>
                <a class="collapse-item" href="/benben/list_industry/">行业</a>
                <a class="collapse-item" href="/benben/list_stock/">股票</a>
                <a class="collapse-item" href="/benben/list_position/">仓位</a>
                <a class="collapse-item" href="/benben/list_historical_position/">历史仓位</a>
                <a class="collapse-item" href="/benben/list_trade/">交易</a>
                <a class="collapse-item" href="/benben/list_dividend/">分红</a>
                <a class="collapse-item" href="/benben/list_subscription/">打新</a>
                <a class="collapse-item" href="/benben/list_dividend_history/">分红历史</a>
                <a class="collapse-item" href="/benben/list_funds/">基金</a>
                <a class="collapse-item" href="/benben/list_funds_details/">基金明细</a>
                <a class="collapse-item" href="/benben/list_baseline/">比较基准</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCapture"
            aria-expanded="true" aria-controls="collapseCapture">
{#            <i class="fas fa-cloud-download-alt"></i>#}
            <i class="fa-solid fa-wrench fa-fw"></i>
            <span>工具</span>
        </a>
        <div id="collapseCapture" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">项目:</h6>
                <a class="collapse-item" href="/benben/capture_dividend_history/">
                    <span>抓取分红历史</span>
                </a>
                <a class="collapse-item" href="/benben/batch_import/">
                    <span>批量导入</span>
                </a>
                <a class="collapse-item" href="/benben/update_historical_market_value/">
                    <span>更新历史持仓</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        其他功能
    </div>


    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/benben/test/">
            <i class="fa-solid fa-flask-vial fa-fw"></i>
{#            <i class="fa fa-step-forward" aria-hidden="true"></i>#}
            <span>测试</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/benben/about/">
{#            <i class="fas fa-info-circle"></i>#}
            <i class="fa-solid fa-circle-info fa-fw"></i>
            <span>关于</span></a>
    </li>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->

</ul>
<!-- End of Sidebar -->

