<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load myfilters%}
{% load humanize %}

{% block extra_css %}
    <link href="{% static 'stock/css/card.css' %}" rel="stylesheet">
{% endblock %}


{% block page_content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 font-weight-bold text-gray-700" style="text-align:center">股票</h1>
            <div class="col-auto">
                <div class="h6 mb-0 text-gray-500">
                    <a href="javascript:history.back()" style="color: inherit; text-decoration: none;">返回 ></a>
                </div>
            </div>
        </div>

        <!-- Content Card Row -->
        <div class="row">
            <!-- 概要 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card h-100 shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 60px;">
                        <h6 class="m-0 font-weight-bold text-primary">概要</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="metric-group">
                            <div class="row g-4">
                                <div class="col-md-3">
                                    <div class="metric-label">名称</div>
                                    <div class="metric-value">
                                        <span>{{ stock_name }}</span>
                                        <span class="metric-unit"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">代码</div>
                                    <div class="metric-value">
                                        <span>{{ stock_code }}</span>
                                        <span class="metric-unit"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">价格</div>
                                    <div class="metric-value">
                                        <span>{{ price|floatformat:3 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">涨跌幅</div>
                                    <div class="metric-value">
                                        <span>{{ increase_per|value_display:"percent" }}</span>
                                        <span class="metric-unit">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="metric-group">
                            <div class="row g-4">
                                <div class="col-md-3">
                                    <div class="metric-label">投入金额</div>
                                    <div class="metric-value">
                                        <span>{{ buy_amount_total|floatformat:0 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">卖出金额</div>
                                    <div class="metric-value">
                                        <span>{{ sell_amount_total|floatformat:0 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">账面成本</div>
                                    <div class="metric-value">
                                        <span>{{ cost_total|floatformat:0 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">分红</div>
                                    <div class="metric-value">
                                        <span>{{ dividend_total|floatformat:0 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="metric-group">
                            <div class="row g-4">
                                <div class="col-md-3">
                                    <div class="metric-label">持仓数量</div>
                                    <div class="metric-value">
                                        <span>{{ position_quantity }}</span>
                                        <span class="metric-unit">股</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">持仓市值</div>
                                    <div class="metric-value">
                                        <span>{{ market_value|floatformat:0 }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">盈亏</div>
                                    <div class="metric-value">
                                        <span>{{ profit|value_display:"number" }}</span>
                                        <span class="metric-unit">元</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric-label">投入回报率</div>
                                    <div class="metric-value">
                                        <span>{{ profit_rate|value_display:"percent" }}</span>
                                        <span class="metric-unit">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-muted small d-flex justify-content-between">
                        <span>数据更新于：{{ updating_time|date:'Y-m-d H:i:s' }}</span>
                        <span>注：股票价格单位为报价单位，其他金额单位为人民币元。</span>
                    </div>
                </div>
            </div>

            <!-- 年度分红 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card h-100 shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 60px;">
                        <h6 class="m-0 font-weight-bold text-primary">年度分红</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div id="bar_yearly_dividend" style="width:100%; height:100%;"></div><!--数据展现的容器1-->
                    </div>
                    <div class="card-footer bg-white text-muted small d-flex justify-content-between">
                        <span>数据更新于：{{ updating_time|date:'Y-m-d H:i:s' }}</span>
                        <span>注：分红金额单位已折算为人民币万元。</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- 交易明细 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 60px;">
                        <div class="d-sm-flex align-items-center justify-content-between mb-0">
                            <h6 class="m-0 font-weight-bold text-primary">交易明细</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="height:500px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                                    <thead class="bg-gradient-secondary text-gray-100">
                                        <tr>
                                            <th>日期</th>
                                            <th>股票/代码</th>
                                            <th>类型</th>
                                            <th>价格</th>
                                            <th>数量</th>
                                            <th>金额</th>
                                            <th>货币</th>
                                            <th>账户</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for trade in trade_list %}
                                            <tr>
                                                <td>{{ trade.trade_date|date:'Y-m-d' }}</td>
                                                <td>{{ trade.stock.stock_name }}({{ trade.stock.stock_code }})</td>
                                                <td>{{ trade.get_trade_type_display }}</td>
                                                <td>{{ trade.trade_price }}</td>
                                                <td>{{ trade.trade_quantity }}</td>
                                                <td>{% widthratio trade.trade_price 1 trade.trade_quantity as ratio %}{{ ratio|floatformat:0|add:"" }}</td>
                                                <td>{{ trade.currency.name }}</td>
                                                <td>{{ trade.account.account_abbreviation }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="8">无相关记录！</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-muted small d-flex justify-content-between">
                        <span>数据更新于：{{ updating_time|date:'Y-m-d H:i:s' }}</span>
                        <span>注：交易价格及金额单位为报价单位。</span>
                    </div>
                </div>
            </div>

            <!-- 分红明细 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 60px;">
                        <div class="d-sm-flex align-items-center justify-content-between mb-0">
                            <h6 class="m-0 font-weight-bold text-primary">分红明细</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="height:500px; width:100%; display:block; overflow-y:auto;" class="scrollDiv">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                                    <thead class="bg-gradient-secondary text-gray-100">
                                        <tr>
                                            <th>日期</th>
                                            <th>股票/代码</th>
                                            <th>金额</th>
                                            <th>货币</th>
                                            <th>账户</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dividend in dividend_list %}
                                            <tr>
                                                <td>{{ dividend.dividend_date|date:'Y-m-d' }}</td>
                                                <td>{{ dividend.stock.stock_name }}（{{ dividend.stock.stock_code }}）</td>
                                                <td>{{ dividend.dividend_amount|floatformat:0 }}</td>
                                                <td>{{ dividend.currency.name }}</td>
                                                <td>{{ dividend.account.account_abbreviation }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5">无相关记录！</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-muted small d-flex justify-content-between">
                        <span>数据更新于：{{ updating_time|date:'Y-m-d H:i:s' }}</span>
                        <span>注：港股通分红金额单位为人民币元，其他分红金额单位为报价单位。</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>
    'use strict';

    // 年度分红柱图
    document.addEventListener('DOMContentLoaded', function() {
        const chart = echarts.init(document.getElementById('bar_yearly_dividend'));
        // const year_array = {{ years_complete|safe }};
        // const dividend_yearly_total_array = {{ dividends_complete|safe }};
        const year_array = {{ years|safe }};
        const dividend_yearly_total_array = {{ dividends_rmb|safe }};

        // 更新图表
        function updateChart() {
            const option = {
            title: {
                text: '',
                subtext: '',
                x: 'center'
            },
            legend: {
                //data:bar_data['name_array']
            },
            grid: {
                top: '10%',
                left: '3%',
                right: '3%',
                bottom: '0%',
                containLabel: true
            },
            tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    backgroundColor: 'rgba(255, 255, 255, 0.95)',
                    borderColor: '#ddd',
                    borderWidth: 1,
                    padding: [10, 15],
                    textStyle: {
                        color: '#333'
                    },
                    formatter: function(params) {
                        const name = params[0].name;
                        const color = params[0].color;
                        const seriesName = params[0].seriesName;
                        const value = (params[0].value / 10000).toLocaleString('zh-CN', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        });
                        return `<div style="font-weight:bold;margin-bottom:8px;">${name}年</div>
                                <div style="display:flex;align-items:center;">
                                    <span class="icon-rect" style="background:${color};"></span>
                                    ${seriesName}：<span style="font-weight:bold;color:${color}">${value}万</span>
                                </div>`;
                    }
            },
            xAxis: [
                // 第一个 X 轴（柱状图使用，boundaryGap: false）
                {
                    //name: '年份',
                    data: year_array,
                    boundaryGap: true,
                    type: 'category',
                    axisLabel: {
                        interval: 0,
                        rotate: 45,
                        fontSize: 12
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#ccc'
                        }
                    },
                    axisTick: {
                        alignWithLabel: false
                    }
                }
            ],
            yAxis: [
                // 左侧 Y 轴（柱状图使用）
                {
                    type: 'value',
                    name: '金额（万元）',  // 自定义单位名称
                    nameTextStyle: {
                        padding: [0, 0, 0, 40]
                    },
                    axisLabel: {
                        formatter: function(value) {
                            return (value / 10000).toLocaleString(); // 千位分隔
                        },
                        fontSize: 12
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            type: 'dashed',
                            color: '#eee'
                        }
                    },
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#ccc'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '分红金额',
                    type: 'bar',
                    color: ['#c84f4f'],
                    itemStyle: {
                        borderRadius: [2, 2, 0, 0]
                    },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowColor: function(params) {
                                return params.color + '66';
                            },
                            borderRadius: [2, 2, 0, 0]
                        }
                    },
                    data: dividend_yearly_total_array
                },
            ]
        };
            chart.setOption(option, true);
        }

        // 初始加载
        updateChart();
        window.addEventListener('resize', () => chart.resize());
    });

    </script>

{% endblock %}

