<!DOCTYPE html>
{% extends 'dashboard/base_dashboard.html' %}
{% load static %} <!-- 添加static标签加载 -->

{% block extra_css %}
    <!-- 引用外部CSS文件 -->
    <link href="{% static 'stock/css/card.css' %}" rel="stylesheet">
{% endblock %}


{% block page_content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-xl-4" style="text-align:left">
            <h1 class="h3 mb-0 font-weight-bold text-gray-700">分红</h1>
        </div>
        <div class="col-xl-4" style="text-align:center">
{#            <form action="" method="post" class="form-horizontal" role="form">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-sync-alt"></i>&nbsp&nbsp{{ baseline.modified_time }}</button>#}
{#            </form>#}
        </div>
        <div class="col-xl-4" style="text-align:right">
{#            <span>港元汇率：{{ rate_HKD|floatformat:4 }}，美元汇率：{{ rate_USD|floatformat:4 }}</span>#}
        </div>
    </div>

    <!-- Content Card Row -->
    <div class="row">
        {% for item in dividend_summary %}
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/benben/view_dividend_details/{{ item.currency_id|safe }}" style="color: inherit; text-decoration: none;">{{ item.currency_name|safe }}分红</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h6 mb-0 text-gray-500">
                                    <a href="/benben/view_dividend_details/{{ item.currency_id|safe }}" style="color: inherit; text-decoration: none;">详情 ></a>
                                </div>
                            </div>
                        </div>
                        <!-- Divider -->
                        <h3>&nbsp;</h3>
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="metric-label">总分红</div>
                                <div class="metric-value">
                                    <span>{{ item.total_amount|floatformat:0 }}</span>
                                    <span class="metric-unit">元</span>
                                </div>
                            </div>
                            <div class="col mr-2">
                                <div class="metric-label">当年分红</div>
                                <div class="metric-value">
                                    <span>{{ item.year_amount|floatformat:0 }}</span>
                                    <span class="metric-unit">元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between mb-0">
                        <h1 class="h5 mb-0 text-gray-800">分红</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered table-condensed table-striped table-hover list_tab" style="margin-bottom:0px;">
                            <thead class="bg-gradient-secondary text-gray-100">
                                <tr>
                                    <th>货币类型</th>
                                    <th>累计分红</th>
                                    <th>当年分红</th>
                                    <th>详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--#trade_list即为视图函数list_trade中render传入参数//-->
                                {% for item in dividend_summary %}
                                    <tr>
                                        <td>{{ item.currency_name }}</td>
                                        <td>{{ item.total_amount|floatformat:0 }}</td>
                                        <td>{{ item.year_amount|floatformat:0 }}</td>
                                        <td>
{#                                            <a href="/benben/view_dividend_details/{{ item.currency_id|safe }}" style="color: inherit; text-decoration: none;">详情 ></a>#}
                                            <a href="/benben/view_dividend_details/{{ item.currency_id|safe }}" class="btn btn-default btn-sm">
                                                详情
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="9">无相关记录！</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}