<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>模板样例</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'favicon.ico'　%}" rel="icon"　>
        <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.4/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.4/examples/dashboard/dashboard.css" rel="stylesheet">
        <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

        <!-- Custom styles for this template
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
        -->
        <!-- 调用本地dashbord.css文件，就显示错位？？
        <link href="{% static 'dashboard.css' %}" rel="stylesheet">
        <link href="/static/dashboard.css" rel="stylesheet">
        -->
        <!-- layUI core CSS
        <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
        <link rel="stylesheet" href="//unpkg.com/layui@2.6.6/dist/css/layui.css">
        -->
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="{% block brokercls %}{% endblock %}"><a href="/benben/list_broker/">券商</a></li>
                        <li class="{% block marketcls %}{% endblock %}"><a href="/benben/list_market/">市场</a></li>
                        <li class="{% block accountcls %}{% endblock %}"><a href="/benben/list_account/">证券账户</a></li>
                        <li class="{% block industrycls %}{% endblock %}"><a href="/benben/list_industry/">行业</a></li>
                        <li class="{% block stockcls %}{% endblock %}"><a href="/benben/list_stock/">股票</a></li>
                        <li class="{% block positioncls %}{% endblock %}"><a href="/benben/list_position/">仓位</a></li>
                        <li class="{% block tradecls %}{% endblock %}"><a href="/benben/list_trade/">交易</a></li>
                        <li class="{% block importcls %}{% endblock %}"><a href="/benben/batch_import/">批量导入</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {# 这个block块写继承页面个性的内容，即不同于母板的内容 #}
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="//cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        -->
        <!-- 引入 layui.js -->
        <!--
        <script src="//unpkg.com/layui@2.6.6/dist/layui.js">
        -->

    </body>
</html>
