<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >资产管理系统</a>
        </div>
        -->
        <div class="navbar-header">
                <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#navbar-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.htm" class="navbar-brand" style="font-weight: bold;">资产管理系统（debug）</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/benben/dashboard/"><i class="glyphicon glyphicon-home"></i>&nbsp;新系统</a></li>
                <li><a href="/benben/index/"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
                <li><a href="/benben/input_trade/"><i class="glyphicon glyphicon-edit"></i>&nbsp;录入</a></li>
                <li><a href="/benben/query_dividend_history/"><i class="glyphicon glyphicon-edit"></i>&nbsp;查询</a></li>
                <li><a href="/benben/statistics_position/"><i class="glyphicon glyphicon-stats"></i>&nbsp;统计</a></li>
                <li><a href="/benben/list_broker/"><i class="glyphicon glyphicon-cog"></i>&nbsp;后台</a></li>
                <li><a href="/benben/about/"><i class="glyphicon glyphicon-globe"></i>&nbsp;关于</a></li>
            </ul>
        </div>
    </div>
</nav>

